-Wave No hergün 1’den başlar

- Ekipman/ personel maliyetin için günlük max toplama miktarı kısıtımız aşağıdaki gibi olacaktır:
01 operasyonu için: 25.000
02 operasyonu için: 175.000

- Sipariş Edilen Tarih < Toplama Tarihi < Sevkiyat Tarihi

In [1]:
import pandas as pd

In [2]:
picking_df = pd.read_csv('data/datathon_picking.csv', index_col='Unnamed: 0')

C:\Users\IsmailKaraman\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (1,5,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
picking_df.head()

,Siparis No,Siparis Tipi,Urun Kodu,Toplanan Miktar,Toplama Tarihi,Toplama Saati,Siparişin Düştüğü Tarih,Sevkiyat Tarihi,Müşteri,Operasyon Numarası
0,72616784,10.0,61000058,45,28122019,11:10,26122019,2012020,C10005,O1
1,72616784,10.0,61000058,45,28122019,11:11,26122019,2012020,C10005,O1
2,72616784,10.0,61000058,45,28122019,11:11,26122019,2012020,C10005,O1
3,72616784,10.0,61000058,45,28122019,11:12,26122019,2012020,C10005,O1
4,72616784,10.0,61000058,45,28122019,11:10,26122019,2012020,C10005,O1

In [4]:
picking_df.columns = ['order_num', 'order_type', 'material_num', 'picked_amount', 'picking_date', 
                      'picking_hour', 'order_receive_date', 'shipping_date', 'customer_num', 'operation_type']

In [5]:
# from analysis we saw that customer number 'C-10170' is replaced with 'C-10277', so we replace all the values
picking_df.replace('C-10170', 'C-10277', inplace=True)

In [6]:
picking_df.head()

,order_num,order_type,material_num,picked_amount,picking_date,picking_hour,order_receive_date,shipping_date,customer_num,operation_type
0,72616784,10.0,61000058,45,28122019,11:10,26122019,2012020,C10005,O1
1,72616784,10.0,61000058,45,28122019,11:11,26122019,2012020,C10005,O1
2,72616784,10.0,61000058,45,28122019,11:11,26122019,2012020,C10005,O1
3,72616784,10.0,61000058,45,28122019,11:12,26122019,2012020,C10005,O1
4,72616784,10.0,61000058,45,28122019,11:10,26122019,2012020,C10005,O1

In [7]:
def convert_string_to_date(str_date):
    
    str_date = str(str_date)
    str_date = str_date.replace('/','')
    str_date = str_date.replace('.','')
    
    len_date = len(str_date)
    
    if len_date>7:
        return pd.Timestamp(int(str_date[4:]), int(str_date[2:4]), int(str_date[:2]))   
    elif len_date==7:
        return pd.Timestamp(int(str_date[3:]), int(str_date[1:3]), int(str_date[:1]))   
    elif len_date==6:
        return pd.Timestamp(int(str_date[2:]), int(str_date[1:2]), int(str_date[:1]))

In [8]:
picking_df['picking_date'] = picking_df['picking_date'].apply(convert_string_to_date)
picking_df['order_receive_date'] = picking_df['order_receive_date'].apply(convert_string_to_date)
picking_df['shipping_date'] = picking_df['shipping_date'].apply(convert_string_to_date)
picking_df['picking_hour'] = pd.to_datetime(picking_df['picking_hour'])

In [9]:
picking_df.shape

(712390, 10)

In [18]:
at2 = picking_df.groupby(['order_num', 'material_num']).agg(
                                           {'order_receive_date':'min', 'picked_amount':'sum',
                                            'customer_num':'min', 'operation_type':'min'}).reset_index()

In [19]:
at2.shape

(485591, 6)

In [17]:
at.shape

(485591, 7)

In [ ]:
picking_df = picking_df.groupby(['order_num', 'material_num','shipping_date']).agg(
                                           {'order_receive_date':'min', 'picked_amount':'sum',
                                            'customer_num':'min', 'operation_type':'min'}).reset_index()

In [ ]:
picking_df.

In [ ]:
picking_df.head()

In [ ]:
picking_df['time_for_shipping'] = (picking_df['shipping_date'] - picking_df['order_receive_date']).dt.days

In [ ]:
picking_df.sort_values(by=['picking_hour']).head()

In [ ]:
picking_df[picking_df['time_for_shipping']==0]

In [ ]:
picking_df['time_for_shipping'].value_counts().plot(kind='bar')

In [ ]:
avg_prod_shipping = pd.DataFrame()
avg_prod_shipping['avg_shipping_time'] = picking_df.groupby('material_num').agg({'time_for_shipping':'mean'})['time_for_shipping']
avg_prod_shipping['shipping_count'] = picking_df.groupby('material_num').agg({'time_for_shipping':'count'})['time_for_shipping']
avg_prod_shipping = avg_prod_shipping.sort_values('avg_shipping_time').reset_index()
avg_prod_shipping.query('avg_shipping_time == 0 and shipping_count > 10')
# orders for below products are immediate

In [ ]:
avg_cust_shipping = pd.DataFrame()
avg_cust_shipping['avg_shipping_time'] = picking_df.groupby('customer_num').agg({'time_for_shipping':'mean'})['time_for_shipping']
avg_cust_shipping['shipping_count'] = picking_df.groupby('customer_num').agg({'time_for_shipping':'count'})['time_for_shipping']
avg_cust_shipping = avg_cust_shipping.sort_values('avg_shipping_time').reset_index()
avg_cust_shipping.query('avg_shipping_time == 0 and shipping_count > 10')
# below customers give their orders immediate, same day shipping

## assumptions 

1. all orders will be ready for shipping at the end of shipping date (ex: 6 pm)
2. all orders are recieved at the beginning of receive date
3. picking is done asap to be able to meet unexpected orders
4. we can pick orders for next days to utilize waves more
5. different orders can be picked in one wave and one order can be picked by different waves. packing operation handles the 
6. one item in an order cannot be splitted and cannot be put in different waves
7. tahminler ne kadar iyi de olsa güvenilmez olduğu için sadece tahminlere göre topla/toplama kararı verilmiş, kesin siparişler harici toplama yapılmamıştır.

## to do

1. only meet the constraints
2. add the future orders as predictions
3. balance the workload, not 10,1,3,22 waves for 4 days, should be 8,9,9,10
4. minimize the workload for sunday
5. add holidays

In [20]:
df = picking_df[['order_num', 'material_num', 'order_receive_date', 'shipping_date',
            'customer_num', 'operation_type', 'picked_amount']].copy()

In [21]:
df.sort_values(by=['order_receive_date', 'order_num'], inplace=True)

In [ ]:
df.head()

In [ ]:
df['shipping_date'].dt.weekday.value_counts().plot(kind='bar')

df[df['order_receive_date']=='2020-02-03']

In [54]:
# first fit
def bin_packing(w, c):
    
    n = len(w)
    order = sorted([i for i in range(n)], key=lambda i: w[i], reverse=True)
    print(order)
    bin_for_item = [-1 for i in range(n)]
    bin_space = []
    
    for i in order:
        
        for j in range(len(bin_space)):
            
            if w[i]<=bin_space[j]:
                bin_for_item[i]=j
                bin_space[j] -=w[i]
                break
                
        if bin_for_item[i] < 0:
            
            j = len(bin_space)
            if 
            bin_for_item[i]=j
            bin_space.append(c-w[i])
            
    n_bins = len(bin_space)
    return n_bins, bin_for_item

In [55]:
weights = df[df['order_receive_date']=='2020-03-04']['picked_amount'].to_list()[0:10]

f1 = bin_packing(weights, 100)

[0, 3, 4, 5, 6, 7, 8, 9, 1, 2]

In [61]:
def receive_orders(date, orders, checklist):

    new_orders = orders[orders['order_receive_date']==date]
    checklist = pd.concat([checklist, new_orders], axis=0).sort_values(by='shipping_date')

    checklist['time_for_shipping'] = (checklist['shipping_date'] - checklist['order_receive_date']).dt.days  
        
    return checklist

In [74]:
df.duplicated().sum()

187012

In [70]:
df.shape

(712390, 7)

In [79]:
df.head()

,order_num,material_num,order_receive_date,shipping_date,customer_num,operation_type,picked_amount
0,72616784,61000058,2019-12-26,2020-01-02,C10005,O1,45
1,72616784,61000058,2019-12-26,2020-01-02,C10005,O1,45
2,72616784,61000058,2019-12-26,2020-01-02,C10005,O1,45
3,72616784,61000058,2019-12-26,2020-01-02,C10005,O1,45
4,72616784,61000058,2019-12-26,2020-01-02,C10005,O1,45

In [78]:
def pick_orders(checklist, capacity, date):
    
    picking_list = pd.DataFrame()
    
    # creating must_pick orders list
    must_pick = checklist[checklist['time_for_shipping']==0]

    # deleting must_pick orders from checklist
    checklist = checklist[checklist['time_for_shipping']>0]
    
    num_wave = 0
    picking_type = 'normal'
    
    while True:
        
        num_wave += 1
        wave_set = set()
        
        must_pick i materiala göre sırala
        
        tmp_pick = must_pick.copy()
        for idx, row in tmp_pick.iterrows():

            row_picking = {}
            
            mat_num = row['material_num']
            amount = row['picked_amount']
               
            row_picking['wave_no'] = num_wave
            row_picking['material'] = mat_num
            row_picking['order_num'] = row['order_num']
            row_picking['picking_date'] = date
            row_picking['shipping_date'] = row['shipping_date']
            row_picking['customer_num'] = row['customer_num']
            row_picking['operation_type'] = row['operation_type']
            row_picking['picking_type'] = picking_type
            row_picking['amount'] = amount
            
            # adding picking list
            picking_list = pd.concat([picking_list, pd.DataFrame(row_picking)]) 
            # updating wave capacity
            wave_set.add(mat_num)
                    
            # updating daily capacity
            capacity -= amount
            # removing from must_pick list
            must_pick.drop(idx, axis=0, inplace=True)

                
            if capacity < 0:
                picking_type = 'overwork'
            
            if wave len(wave_set>=8 :
                break
        
        break
            
        
    return picking_list

SyntaxError: invalid syntax (<ipython-input-78-5b8d51272a96>, line 17)

In [ ]:
def additional_picking(picking_list, checklist, remain_capacity):
    
    look checklist kesinleşmiş order
        bottleneck varsa bottleneck'i çöz
            bottleneck'i çözerken de gelecek order tahminlere bakın
    
    look closing orders in checklist
        eğer shipping dateden önce order gelmesini tahmin ediyorsam toplama
        eğer tahmin yoksa topla
        
        
        if predicted in the near future 

        
        
        
        
    .sort_values(by=['time_for_shipping'], inplace=True)
    
    return picking_list, checklist

In [ ]:
def pick(orders, daily_capacity, picking_plans):
    
    checklist = pd.DataFrame()
    

    # for date in pd.date_range(df['order_receive_date'].min(), df['order_receive_date'].max()):
    for date in pd.date_range('2020-01-02', orders['order_receive_date'].max()):    

        # updating checklist
        checklist = receive_orders(date, orders, checklist)

        # check there is any item in must_pick list
        if len(must_pick) > 0:

            picking_list, remain_capacity = pick_orders(checklist, daily_capacity, date)
            
            if remain_capacity > 0:
                
                picking_list,  = additional_picking(picking_list, checklist, remain_capacity)
            
        else:
            
            add future plans ()
            additional_picking(picking_list, checklist, daily_capacity)
            
            check next days orders
            
            future picking or additional picking


        # updating checklist


        return picking_plans

In [ ]:
df_O1 = df[df['operation_type']=='O1']
df_O2 = df[df['operation_type']=='O2']

picking_plans = pd.DataFrame(columns=['date', 'wave_num','operation_type','order_num', 'customer_num', 'material_num', 
                                      'order_receive_date','shipping_date','picked_amount'])

In [ ]:
picking_plans = pick(orders for O1, 25000, picking_plans)
picking_plans = pick(orders for O2, 175000, picking_plans)

In [ ]:


for each day:
    checklist : items that has to be shipped ob that day
    
    for checklist
        check # of avail place in wave - max 8
        check daily total limit - max 25k for O1, 175k for O2
        
    if any place left:
        pick next days order
    
    
    
    2. ertesi günler için totali geçiyor muyum

In [ ]:
for each day:
    update the checklist with received orders
    pick the must_pick orders (must_pick orders are the ones that will be picked that day)
        min waves 
            if the picker is not full, add more items from the list
            find the closest one check 
        check the constraints
            O1 <= 25k
            O2 <= 175k
            # of material <= 8
            
    update checklist