max r2, min rmse
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html 
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html

columns:
    
Sipariş Numarası: Her siparişe ait unique ID.
Sipariş Satırı: Aynı “Sipariş Numarası” içinde sipariş edilen ürünlerin satır numarası.  (Aynı siparişe ilişkin farklı ürünleri belirtilen satır numarası olarak değerlendirilebilir)
Sipariş Tipi: Sevk edilecek siparişin tipi.
Malzeme Numarası: Ürüne ait unique ID.
Sipariş Edilen Miktar: Ürüne ait sipariş miktarı.
Sku Plt. Standartı: Her ürüne ait bir palete yüklenebilecek ürün miktarı. (ürünün boyutlarına göre değişkenlik gösterir)
Müşteri No: Siparişin sevk edileceği müşteriye ait unique ID.
Sipariş Tarihi: Siparişin DHL depo yönetim sistemindeki tarihi. (Yıl – Ay- Gün formatında)

additional data:

holidays data?

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, KFold, GridSearchCV
from sklearn.compose import ColumnTransformer
from xgboost import XGBRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('train_set.csv', parse_dates=['Sipariş Tarihi'])
df.head()

,Sipariş Numarası,Sipariş Satırı,Sipariş Tipi,Malzeme Numarası,Sipariş Edilen Miktar,Sku Plt. Standartı,Müşteri No,Sipariş Tarihi
0,72616887,1,Müşteri Siparişleri,61001960,60,228,C-10008,2020-01-02
1,72616888,1,Müşteri Siparişleri,61000066,25,96,C-10185,2020-01-02
2,72616888,2,Müşteri Siparişleri,61001960,50,228,C-10185,2020-01-02
3,72616889,1,Müşteri Siparişleri,61000066,40,96,C-10188,2020-01-02
4,72616889,2,Müşteri Siparişleri,61001960,20,228,C-10188,2020-01-02

In [3]:
df.shape

(276753, 8)

In [4]:
df.columns = ['order_num', 'order_item', 'order_type', 'material_num', 'order_amount', 'pallet_std', 'customer_num', 'order_date']

In [5]:
df = df.groupby(['order_num', 'material_num']).agg({'order_item':'max', 'order_type':'max', 'order_amount':'sum', 'pallet_std':'min',
                                               'customer_num':'max', 'order_date':'max'}).reset_index()

In [6]:
df.sort_values(by=['order_num'], inplace=True)

In [7]:
print('number of unique order: ', len(df['order_num'].unique()))
print('number of unique customer: ', len(df['customer_num'].unique()))
print('average order by customers: ', int(len(df['order_num'].unique())/len(df['customer_num'].unique())))
print('number of unique order types: ', len(df['order_type'].unique()))
print('number of unique materials: ', len(df['material_num'].unique()))
print('number of unique pallet types: ', len(df['pallet_std'].unique()))

number of unique order:  37085
number of unique customer:  283
average order by customers:  131
number of unique order types:  3
number of unique materials:  466
number of unique pallet types:  90

In [8]:
df.describe()

          order_num     order_item   order_amount     pallet_std
count  2.566770e+05  256677.000000  256677.000000  256677.000000
mean   7.264149e+07      86.211055      29.495635     128.215189
std    1.411038e+04     850.232238     147.388895      78.267588
min    7.261689e+07       1.000000       1.000000       1.000000
25%    7.262930e+07       3.000000       1.000000      72.000000
50%    7.264187e+07       8.000000       4.000000      96.000000
75%    7.265357e+07      20.000000      19.000000     185.000000
max    7.266620e+07    9999.000000   12210.000000     650.000000

In [9]:
import phik
phi_corr = df.phik_matrix()
phi_corr[phi_corr.abs()>0.5]

interval columns not set, guessing: ['order_num', 'order_item', 'order_amount', 'pallet_std']

,order_num,material_num,order_item,order_type,order_amount,pallet_std,customer_num,order_date
order_num,1.000000,0.554811,NaN,NaN,NaN,NaN,NaN,0.999918
material_num,0.554811,1.000000,1.0,0.777909,0.684437,0.999994,0.908309,0.835337
order_item,NaN,1.000000,1.0,NaN,NaN,NaN,NaN,NaN
order_type,NaN,0.777909,NaN,1.000000,NaN,NaN,1.000000,NaN
order_amount,NaN,0.684437,NaN,NaN,1.000000,NaN,NaN,0.764918
pallet_std,NaN,0.999994,NaN,NaN,NaN,1.000000,0.540038,NaN
customer_num,NaN,0.908309,NaN,1.000000,NaN,0.540038,1.000000,0.868886
order_date,0.999918,0.835337,NaN,NaN,0.764918,NaN,0.868886,1.000000

### eda

In [ ]:
# all sales
ts=sales.groupby(["date"])["order_amount"].sum()
plt.figure(figsize=(16,8))
plt.title('Total Sales of the company')
plt.xlabel('Time')
plt.ylabel('Sales')
plt.plot(ts)

### feature engineering

In [10]:
# these may be useless???
df['order_weekday'] =  df['order_date'].dt.weekday
df['order_month'] = df['order_date'].dt.month
df['order_day'] = df['order_date'].dt.day

In [11]:
# geçmişte iptal edilen sipariş var mı
item_nums = df.groupby(['order_num']).agg({'order_amount':'count', 'order_item':'max'}).reset_index()
cancelled_items_exist = item_nums[~(item_nums['order_amount'].values == item_nums['order_item'].values)]['order_num']
cancelled_items_exist

223      72617120
902      72618012
1082     72618229
1139     72618331
1443     72618687
           ...
36710    72665449
36784    72665565
36864    72665689
36950    72665783
36989    72665836
Name: order_num, Length: 2422, dtype: int64

In [12]:
df.loc[:,'is_cancelled_item_exist'] = 0
df.loc[df['order_num'].isin(cancelled_items_exist), 'is_cancelled_item_exist'] = 1

### müşteri ürünü sipariş ettikten sonra ne kadar zaman geçti

In [13]:
material_order_dates = df.groupby(['customer_num','order_num', 'material_num'])['order_date'].min().reset_index()
material_order_dates['shifted_date'] = material_order_dates.groupby(['customer_num','order_num', 'material_num'])['order_date'].diff()

In [14]:
# last 1, 2, 3, 5, 7, 10 orders

In [15]:
order_amounts = df.groupby(['customer_num', 'material_num','order_num'])['order_amount'].sum().reset_index()
for period in [1,2,3,5,7,10]:
    col_name = 'last_' + str(period) + '_period_sum'
    order_amounts['rolling_sum'] = order_amounts.groupby(['customer_num', 'material_num'])['order_amount'] \
    .rolling(period, min_periods=period).sum().values
    
    order_amounts[col_name] = order_amounts.groupby(['customer_num', 'material_num'])['rolling_sum'].shift(1)

In [16]:
order_amounts.isna().sum()/order_amounts.shape[0]

customer_num          0.000000
material_num          0.000000
order_num             0.000000
order_amount          0.000000
rolling_sum           0.348594
last_1_period_sum     0.071315
last_2_period_sum     0.124312
last_3_period_sum     0.168804
last_5_period_sum     0.240906
last_7_period_sum     0.299014
last_10_period_sum    0.370707
dtype: float64

In [17]:
df = pd.merge(df, order_amounts.drop(['order_amount', 'rolling_sum'], axis=1), on=['customer_num', 'material_num', 'order_num'])

### order_item numbers in an order

In [18]:
item_counts = df.groupby(['order_num'])['order_item'].count().reset_index()
item_counts.columns = ['order_num', 'num_order_item']
df = pd.merge(df, item_counts, on=['order_num'])

### modelling

In [19]:
drops = ['order_num', 'order_date']
label = ['order_amount']
categorical = ['material_num', 'order_item', 'order_type', 'pallet_std', 'customer_num',
               'order_weekday', 'order_month', 'order_day', 'is_cancelled_item_exist']
numerical = ['last_1_period_sum', 'last_2_period_sum', 'last_3_period_sum',
            'last_5_period_sum', 'last_7_period_sum', 'last_10_period_sum', 'num_order_item']

In [20]:
def create_pipeline_without_model(reg_name, reg_object):
    
    numeric_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='constant', fill_value=0.0)),
        ('scaler', StandardScaler())])
    
    categorical_transformer = Pipeline(steps=[
        ('one-hot', OneHotEncoder(handle_unknown='ignore'))])


    preprocessor = ColumnTransformer(
                                    transformers=[
                                                  ('num1', numeric_transformer, numerical),       
                                                  ('cat_str1', categorical_transformer, categorical),
                                                  ])

    pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                               (reg_name, reg_object)])
    
    return pipeline

In [22]:
y = df[label]
X = df[categorical+numerical]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

pipe1 = create_pipeline_without_model('regressor', XGBRegressor())
pipe1.fit(X_train, y_train)
preds_train = pipe1.predict(X_train)
preds_test = pipe1.predict(X_test)

print('Train scores: ')
print("R2 score:{}, RMSE:{}".format(r2_score(y_train, preds_train), rmse(preds_train, y_train)))
print('-----')
print('Test scores: ')
print("R2 score:{}, RMSE:{}".format(r2_score(y_test, preds_test), rmse(preds_test, y_test)))

Train scores:
R2 score:0.8799041036175003, RMSE:53.19875525191801
-----
Test scores:
R2 score:0.6125349796335483, RMSE:74.57924454243565

In [23]:
def evaluate_model_with_CV(X, y, model):
    cv = KFold(n_splits=5, shuffle=True, random_state=1)
    scores = cross_validate(model, X, y, scoring=['neg_root_mean_squared_error', 'r2'], n_jobs=-1, 
                        return_estimator=True, return_train_score=True, cv=cv)
    # ['fit_time', 'score_time', 'estimator', 'test_neg_root_mean_squared_error', 
    # 'train_neg_root_mean_squared_error', 'test_r2', 'train_r2']

    return scores

In [24]:
def print_metrics(y_pred, y_test, model):
    print("Model results: ", type(model).__name__)
    print(classification_report(y_test, y_pred))
    print("Confusion matrix:")
    cm = confusion_matrix(y_test,y_pred, labels= model.classes_)
    disp = ConfusionMatrixDisplay(confusion_matrix=cm,display_labels= model.classes_)
    disp.plot()

In [25]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, BayesianRidge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR, LinearSVR
from xgboost import XGBRegressor
from sklearn.kernel_ridge import KernelRidge

In [26]:
regressors = [
    ("XGBRegressor", XGBRegressor()),
    ("SVR", SVR()),
    ("LinearSVR", LinearSVR()),
    ("KernelRidge", KernelRidge()),
    ("LinearRegression", LinearRegression()),
    ("Ridge",Ridge()),
    ("Lasso",Lasso()),
    ("BayesianRidge", BayesianRidge()),
    ("ElasticNet", ElasticNet()),
]

In [27]:
y = df[label]
X = df[categorical+numerical]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

pipe1 = create_pipeline_without_model('regressor', LinearRegression())
pipe1.fit(X_train, y_train)
preds_train = pipe1.predict(X_train)
preds_test = pipe1.predict(X_test)

print('Train scores: ')
print("R2 score:{}, RMSE:{}".format(r2_score(y_train, preds_train), rmse(preds_train, y_train)))
print('-----')
print('Test scores: ')
print("R2 score:{}, RMSE:{}".format(r2_score(y_test, preds_test), rmse(preds_test, y_test)))

Train scores:
R2 score:0.5661614876549029, RMSE:101.11170595361773
-----
Test scores:
R2 score:0.5599923610820752, RMSE:79.47523803042887

In [ ]:
random_state = 1
RMSE_train_mean = []
RMSE_train_std = []
RMSE_test_mean = []
RMSE_test_std = []
R2_train_mean = []
R2_train_std = []
R2_test_mean = []
R2_test_std = []
names = []
TIME = []

for name, regressor in tqdm(regressors):
    
    pipe = create_pipeline_without_model(name, regressor)
    results = evaluate_model_with_CV(X, y, pipe)
                        
    names.append(name)
    RMSE_train_mean.append(results['train_neg_root_mean_squared_error'].mean())
    RMSE_train_std.append(results['train_neg_root_mean_squared_error'].std())
    RMSE_test_mean.append(results['test_neg_root_mean_squared_error'].mean())
    RMSE_test_std.append(results['test_neg_root_mean_squared_error'].std())
    R2_train_mean.append(results['train_r2'].mean())
    R2_train_std.append(results['train_r2'].std())
    R2_test_mean.append(results['test_r2'].mean())
    R2_test_std.append(results['test_r2'].std())
    TIME.append(results['fit_time'].mean())

    
scores = pd.DataFrame({ "Model": names,
                        "RMSE_train_mean": RMSE_train_mean,
                        "RMSE_train_std": RMSE_train_std,
                        "RMSE_test_mean": RMSE_test_mean,
                        "RMSE_test_std": RMSE_test_std,
                       
                        "R2_train_mean": R2_train_mean,
                        "R2_train_std": R2_train_std,
                        "R2_test_mean": R2_test_mean,
                        "R2_test_std": R2_test_std,
                        "Time Taken": TIME, })

 11%|█████████▏                                                                         | 1/9 [01:50<14:44, 110.55s/it]

In [ ]:
RMSE_train_mean

In [ ]:
order_amounts

In [ ]:
order_amounts.head(50)

In [ ]:
df.rolling(2).sum()

In [ ]:
item_nums

In [ ]:
df[df['order_num'].isin(cancelled_items_exist)]